/*DATEPICKER*/
.ui-datepicker-header .ui-datepicker-next .ui-icon-circle-triangle-e {
    background-position: -32px -16px;
}

.ui-datepicker-header .ui-datepicker-prev .ui-icon-circle-triangle-w {
    background-position: -96px -16px;
}

.ui-datepicker-header {
    background: #eee;
    border: none;
}

.ui-datepicker .ui-state-active {
    color: white;
    background: #134194 !important;
}

.ui-datepicker .ui-datepicker-calendar tbody tr td {
    padding: 5px;
    font-size: 13px;
}

.ui-datepicker .ui-datepicker-calendar tbody tr td a {
    background: white;
    border: none;
    text-align: center;
}

.ui-datepicker th {
    font-weight: normal;
    font-size: 12px;
    background-color: #eee;
    border-bottom: 1px solid #c5c5c5;
    color: #999;
}

.ui-datepicker .ui-datepicker-calendar tbody tr td a:hover {
    background: lightgray;
}

.ui-datepicker .ui-datepicker-month, .ui-datepicker .ui-datepicker-year {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    border: none;
    width: min-content !important;
    background-color: #eee;
    font-weight: bold;
}

select.ui-datepicker-month, select.ui-datepicker-year {
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-year {
    margin-left: 20px !important;
}

.ui-datepicker .ui-datepicker-other-month span {
    border: none;
    background: white;
}

.ui-datepicker .ui-datepicker-today a {
    background: #fffa90 !important;
    color: black !important;
}

.ui-datepicker .ui-state-default, .ui-widget-content .ui-state-default {
    border: none !important;
    background: white;
}

/*SELECT2*/
.select2-container--default .select2-selection--single {
    background-color: inherit !important;
    border: 1px solid #e5e5e5 !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: inherit !important;
    border: 1px solid #e5e5e5 !important;
}

.select2-dropdown {
    border: 1px solid #e5e5e5 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e5e5e5 !important;
    margin-bottom: 7px;
    margin-top: 7px;
}

.select2-results__option {
    padding: 6px;
    font-size: 14px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #134194 !important;
    color: white;
}

.select2-search__field:focus {
    outline: none !important;
}

.select2-search__field {
    font-size: 14px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    padding-top: 3px !important;
}

.ui-datepicker {
    padding: 0;
}


/*Jquery autocomplete to materialize autocomplete css -->*/

ul.ui-autocomplete {
    z-index: 9999;
    /*width: 800px;*/
}

.ui-autocomplete li > .ui-menu-item-wrapper {
    color: black;
}

.ui-autocomplete li {
    padding: 0 !important;
    -webkit-user-select: none;
}

.ui-autocomplete li > a > span {
    padding: 6px !important;
    font-size: 14px !important;
    display: block;
    line-height: 22px;
    border: 0 !important;
    color: black;
}

.ui-autocomplete li > a.ui-state-active > span {
    background-color: #134194 !important;
    color: white !important;
}

.ui-autocomplete li > a, .ui-autocomplete li > a:hover {
    border-bottom: 0;
    -webkit-transition: none !important;
    transition: none !important;
    padding: 0 !important;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    margin: 0 !important;
    text-decoration: none !important;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px 5px;
    list-style-image: none;
}

ul.ui-autocomplete {
    overflow-y: auto;
    max-height: 200px;
}

.ui-autocomplete .ui-state-active {
    border: none;
    background: none;
}

.ui-autocomplete-highlight {
    font-weight: normal;!important;
}