/* -1. Var definitions
============================================================================= */
:root {
    --app-header-height:45px;

    --left-sidebar-width:  200px;
    --left-sidebar-margin:-200px;

    --right-sidebar-width:450px;
    --right-sidebar-min-width:450px;
    --right-sidebar-icon-width-height:60px;

    --home-page-icon-width-height:100px;

    --bg-dark: rgba(39,  37, 43,.95);
    --bg-light:rgba(255,255,255,.95);

    --color-bpo:      #059;
    --color-bpo-hover:#048;

    --color-white:    #fff;

    --color-gray_222: #222;
    --color-gray_333: #333;
    --color-gray_999: #999;
    --color-gray_aaa: #aaa;
    --color-gray_bbb: #bbb;
    --color-gray_ccc: #ccc;
    --color-gray_eee: #eee;
    --color-gray_a0:  #a0a0a0;
    --color-gray_ab:  #ababab;
    --color-gray_c0:  #c0c0c0;
    --color-gray_fa:  #fafafa;

    --color-f0f2f4:   #f0f2f4;

    --color-blue:     #20a8d8;
    --color-green:    #4dbd74;
    --color-orange:   #ffc107;
    --color-red:      #f86c6b;
    --color-violet:   #a826d4;
    --color-indigo:   #6610f2;
    --color-pink:     #e83e8c;
    --color-teal:     #20c997;
    --color-cyan:     #17a2b8;

    --border-sm-icn:  #49c;

    --light-gray-hover:rgba(204,204,204,.15);
    --light-blue-hover:rgba(136,188,213,.25);

}

/* 0. Clear (erase)
============================================================================= */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, li,
form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    font-size: 100%;
    vertical-align: baseline;
    /*background:transparent;*/
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary {
    position: relative;
    display: block;
}

blockquote, q {
    quotes: none;
}

embed {
    vertical-align: top;
}

.none {
    display: none !important;
    margin: 0;
    padding: 0;
}

.hide {
    display: none
}

hr {
    display: block;
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

/* get rid of those system borders being generated for A tags */
a img {
    border: none;
}

/* Solve the `padding` problem in IE */
*, *:after, *:before {
    box-sizing: border-box; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

div {
    font-size: 14px;
}

body {
    font-size:1em;
    line-height:1.5;
    font-weight:400;
    width:100%;
    height:100%;
    color:#000;}

input, select, textarea {
    border-radius: 4px !important;
}
/* ------------------------------------------- Clearfix ---*/
.clr {display:block;}

/*.row {margin:0 -15px;}*/

.clr:after,
.row:after,
.wrapper:after
{clear:both;}

.clr:before,.clr:after,
.row:before,.row:after,
.wrapper:after {
    display:table;
    line-height:0;
    height:0;
    content:"";}

/* --------------------------------------------- floats, text-align, etc ---*/

.float-left {
    float: left;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.itl {
    font-style: italic;
}

/* --- Flex  --- */
.justify-content-start   { -ms-flex-pack: start !important;      justify-content: flex-start !important;}
.justify-content-end     { -ms-flex-pack: end !important;        justify-content: flex-end !important; }
.justify-content-center  { -ms-flex-pack: center !important;     justify-content: center !important; }
.justify-content-between { -ms-flex-pack: justify !important;    justify-content: space-between !important; }
.justify-content-around  { -ms-flex-pack: distribute !important; justify-content: space-around !important; }

/* ==== GRID SYSTEM ==== */
.row {
    position: relative;
    width: 100%;
    margin: 0;
}

.row [class^="col"] {
    float: left;
    /* margin: 0.5rem 2%; */
    margin: 0 1%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 98%;
}

.col-1-sm {
    width: 6.33%;
}

.col-2-sm {
    width: 14.66%;
}

.col-3-sm {
    width: 23%;
}

.col-4-sm {
    width: 31.33%;
}

.col-5-sm {
    width: 39.66%;
}

.col-6-sm {
    width: 48%;
}

.col-7-sm {
    width: 56.33%;
}

.col-8-sm {
    width: 65.66%;
}

.col-9-sm {
    width: 73%;
}

.col-10-sm {
    width: 81.33%;
}

.col-11-sm {
    width: 89.66%;
}

.col-12-sm {
    width: 98%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 33.75em) {
    /* 540px */

}

@media only screen and (min-width: 45em) {
    /* 720px */
    .col-1 {
        width: 6.33%;
    }

    .col-2 {
        width: 14.66%;
    }

    .col-3 {
        width: 23%;
    }

    .col-4 {
        width: 31.33%;
    }

    .col-5 {
        width: 39.66%;
    }

    .col-6 {
        width: 48%;
    }

    .col-7 {
        width: 56.33%;
    }

    .col-8 {
        width: 64.66%;
    }

    .col-9 {
        width: 73%;
    }

    .col-10 {
        width: 81.33%;
    }

    .col-11 {
        width: 89.66%;
    }

    .col-12 {
        width: 98%;
    }

    .hidden-sm {
        display: block;
    }
}

@media only screen and (min-width: 60em) {
    /* 960px */

}

@media only screen and (min-width: 75em) {
    /* 1200px */

}