<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit-extended/1.0.0/css/material-design-icons/material-design-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit-extended/1.0.0/css/layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit-extended/1.0.0/css/uikit/uikit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit-extended/1.0.0/css/jquery-ui/jquery-ui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit-extended/1.0.0/css/fixes.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/uikit-extended/1.0.0/css/select2/select2.min.css}">
</head>
<body>
<div id="wrapper">
    <div style="display: none" th:id="current-locale" th:data-lang="'bg'"></div>
    <div>
        <h3 class="uk-text-center">UIKIT 3</h3>
        <hr>
        <div class="row">
            <div class="col-12">
                <h6 style="margin: 0">
                    <a target="_blank" href="https://getuikit.com/docs/introduction">UIKit Documentation</a>
                </h6>
            </div>
        </div>
        <hr>
    </div>

    <div>
        <h3 class="uk-text-center">MATERIAL DESIGN ICONS</h3>
        <hr>
        <div class="row">
            <div class="col-12">
                <h6 style="margin: 0">
                    Usage <a target="_blank" href="https://material.io/resources/icons/?style=baseline">MATERIAL DESIGN ICONS</a>
                </h6>
            </div>
        </div>
        <div style="margin-top:10px;" class="row">
            <div class="col-12">
                <div>Example</div>
                <span class="material-icons">build</span>build
                <span class="material-icons">check</span>check
                <span class="material-icons">check_circle</span>check_circle
                <span class="material-icons">perm_identity</span>perm_identity
                <span class="material-icons">verified</span>verified
                <span class="material-icons">add</span>add
                <span class="material-icons">swap_calls</span>swap_calls
            </div>

        </div>
        <hr>
    </div>

    <div>
        <h3 class="uk-text-center">DATE PICKER</h3>
        <hr>
        <div class="row">
            <div class="col-12">
                <h6 style="margin: 0">
                    Input is initialized as datepicker if has attribute <span class="uk-text-bold">data-type="datepicker"</span>
                </h6>
                <div class="bold">Additional Attributes:</div>
                <span class="uk-display-block">data-max-date</span>
                <span class="uk-display-block">data-min-date</span>
                <span class="uk-display-block">data-show-buttons</span>
                <span class="uk-display-block">data-show-week</span>
                <span class="uk-display-block">data-change-year</span>
                <span class="uk-display-block">data-change-month</span>
                <span class="uk-display-block">data-show-other-months</span>
                <span class="uk-display-block">data-select-other-months</span>
            </div>
        </div>
        <div style="margin-top:10px;" class="row">
            <div class="col-12">
                <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Default Datepicker</label>
                        <div>
                            <input th:data-type="datepicker"
                                   class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Datepicker with selectable year and month </label>
                        <div>
                            <input th:data-type="datepicker"
                                   th:data-change-year="true"
                                   th:data-change-month="true"
                                   class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Datepicker with days from another month </label>
                        <div>
                            <input th:data-type="datepicker"
                                   th:data-show-other-months="true"
                                   class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Datepicker with week </label>
                        <div>
                            <input th:data-type="datepicker"
                                   th:data-show-week="true"
                                   class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Datepicker with min and max date </label>
                        <div>
                            <input th:data-type="datepicker"
                                   th:data-max-date="0"
                                   th:data-min-date="'11.03.2021'"
                                   class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Datepicker with button panel</label>
                        <div>
                            <input th:data-type="datepicker"
                                   th:data-change-year="true"
                                   th:data-change-month="true"
                                   th:data-show-buttons="true"
                                   class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div>
        <h3 class="uk-text-center">AUTOCOMPLETE</h3>
        <hr>
        <div class="row">

        </div>
        <div style="margin-top:10px;" class="row">
            <div class="col-12">
                <div class="uk-grid">
                    <div class="uk-width-2-5">
                        <label class="uk-form-label">Default Datepicker</label>
                        <div>
                            <input th:id="'country-autocomplete'" class="uk-input uk-form-small" type="text" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>


    <div>
        <h3 class="uk-text-center">SELECT</h3>
        <hr>
        <div class="row">
            <div class="col-12">
                <h6 style="margin: 0">
                    Select is initialized with select2 if has attribute <span
                        class="uk-text-bold">data-type="select"</span>
                </h6>
                <div class="bold">Additional Attributes:</div>
                <span class="uk-display-block">data-search-box</span>
                <span class="uk-display-block">data-placeholder</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="margin-top:10px;" class="uk-grid">
                    <div class="uk-width-1-6">
                        <label class="uk-form-label" for="form-stacked-select">UIKit Default Select</label>
                        <div class="uk-form-controls">
                            <select class="uk-select uk-form-small" id="form-stacked-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Select2 Default</label>
                        <div class="uk-form-controls">
                            <select th:data-type="'select'" class="uk-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                                <option>Option 03</option>
                                <option>Option 04</option>
                                <option>Option 05</option>
                                <option>Option 06</option>
                                <option>Option 07</option>
                                <option>Option 08</option>
                                <option>Option 09</option>
                                <option>Option 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Select2 with search-box</label>
                        <div class="uk-form-controls">
                            <select th:data-type="'select'"  th:data-search-box="'true'" class="uk-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                                <option>Option 03</option>
                                <option>Option 04</option>
                                <option>Option 05</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Select2 with search-box and groups</label>
                        <div class="uk-form-controls">
                            <select th:data-type="'select'"  th:data-search-box="'true'" class="uk-select">
                                <optgroup label="German Cars">
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                    <option value="bmw">BW</option>
                                </optgroup>
                                <optgroup label="Options">
                                    <option>Option 01</option>
                                    <option>Option 02</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Select2 multiple</label>
                        <div class="uk-form-controls">
                            <select th:data-type="'select'" multiple="multiple" class="uk-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                                <option>Option 03</option>
                                <option>Option 04</option>
                                <option>Option 05</option>
                                <option>Option 06</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <label class="uk-form-label">Select2 multiple with placeholder</label>
                        <div class="uk-form-controls">
                            <select th:data-type="'select'" th:data-placeholder="'Placeholder'" multiple="multiple" class="uk-select">
                                <option>Option 01</option>
                                <option>Option 02</option>
                                <option>Option 03</option>
                                <option>Option 04</option>
                                <option>Option 05</option>
                                <option>Option 06</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
    </div>


    <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: arrow-right"></span>
        <input th:id="country-autocomplete" class="uk-input">
    </div>

</div>

<script type="text/javascript" charset="utf-8"
        th:src="@{/webjars/uikit-extended/1.0.0/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" charset="utf-8"
        th:src="@{/webjars/uikit-extended/1.0.0/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/webjars/uikit-extended/1.0.0/js/uikit/uikit.min.js}"></script>
<script type="text/javascript" charset="utf-8"
        th:src="@{/webjars/uikit-extended/1.0.0/js/uikit/uikit-icons.min.js}"></script>
<script type="text/javascript" charset="utf-8"
        th:src="@{/webjars/uikit-extended/1.0.0/js/select2/select2.min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/webjars/uikit-extended/1.0.0/js/ajaxApi.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/webjars/uikit-extended/1.0.0/js/init.js}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        console.log('ready')
        initCountriesAutocomplete('#country-autocomplete',false,'/countries')
    });

    function initCountriesAutocomplete(inputSelector, selectOnlyFromList, url) {
        let $autocomplete = $(inputSelector);

        function autocompleteValue(ui) {
            return ui.item.code;
        }

        $autocomplete.autocomplete({
            delay: 500,
            minLength: 1,
            source: function (request, response) {
                const ajaxRequest = new AjaxRequest(url, {
                    requestData: {countryName: request.term},
                    method: "GET",
                    dataType: "json",
                });
                const responseAction = new AjaxResponseAction({
                    executeOnValid: new FuncCall(response, [])
                });
                AjaxCaller.call(ajaxRequest, responseAction);
            },
            focus: function (e, ui) {
                $autocomplete.val(autocompleteValue(ui));
                return false;
            },
            select: function (event, ui) {
                $autocomplete.val(autocompleteValue(ui));
                return false;
            },
            change: function (event, ui) {
                if (ui.item == null && selectOnlyFromList === true) {
                    $(this).val("");
                    $autocomplete.val("");
                }
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            const template = "<a><span><span>" + item.name + "</span></span></a>";

            return $("<li></li>")
                .data("item.autocomplete", item)
                .append(template)
                .appendTo(ul);
        };

    }

</script>
</body>
</html>