@charset "UTF-8";

// 1. Your custom variables and variable overwrites.
$global-link-color: #134194;
$global-primary-background: #134194;
$button-text-transform: none !default;
@import "utility";

// 2. Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

//// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";